@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,400;1,500;1,600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(247, 247, 247), rgb(116, 114, 114), rgb(19, 19, 19));
}

.container
{
    position: relative;
    width: 1485px;
    max-width: 100%;
    height: calc(100vh - 35px);
    box-shadow: 0 1px 1px 0 rgb(255, 255, 255), 0 2px 5px 0 rgb(255, 255, 255);
    display: flex;
    border-radius: 12px;
}

.container .leftside{
    position: relative;
    flex: 23%;
    background:#e3e2e2;
    border-right: 1px solid #818181;
    border-radius: 12px 0px 0px 12px;
}

.container .rightside{
    position: relative;
    flex: 77%;
    background:rgba(17, 17, 17, 0.5);
    border-radius: 0px 12px 12px 0px;
}

.header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #e3dede;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-radius: 12px;
}

.userimg{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav_icons{
    display: flex;
}
.nav_icons li{
    display: flex;
    list-style: none;
    color: #51585c;
    font-size: 1.5em;
    margin-left: 22px;
}

.chatlist{
    position: relative;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.chatlist .block{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(0, 0,0,0.06);
    cursor: pointer;
}

.chatlist .block.active{
    background: #ebebeb;
}

.chatlist .block:hover{
    background: #f5f5f5;
}

.chatlist .block .imgbx{
    position: relative;
    display: flex;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.chatlist .block .details{
    position: relative;
    width: 100%;
}

.chatlist .block .details .listHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist .block .details .listHead h4{
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.message_p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_p p{
    color:#909090;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



.imgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
    color: #fff;
}

.imgText h4 span{
    font-size: 0.8em;
    color: #878787;
}

.userimg2{
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.header2{
    position: bottom relative;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border-radius: 0px 12px 0px 0px;
    
}

.chatbox_input{
    position: relative;
    width: 100%;
    height: 60px;
    top: 83.4%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 12px 0px;
}


.chatbox_input input{
    position: relative;
    display: inline-block;
   
}

.chatbox_input input[type="text"]{
    color: #000 !important;
    width: 70em;
    height: 3.0em;
    border: none;
    outline: none;
    padding: 0  25px;
    border-radius: 25px 0 0 25px;
}

.chatbox_input input[type="submit"]{
    position: relative;
    color: #fff;
    border-radius: 0 25px 25px 0;
    width: 10em;
    height: 3.0em;
    border: none;
    outline: none;
    cursor: pointer;
    background: #909090;
}

@media only screen and (max-width: 480px) and (min-width: 320px)  {


    .chatbox_input input[type="text"]{
        width: 15em;
        padding: 0  0px;
    }
    
    .chatbox_input input[type="submit"]{
        width: 3em;
    }
  }

  @media only screen and (max-width: 768px) and (min-width: 481px)  {


    .chatbox_input input[type="text"]{
        width: 20em;
    }
    
    .chatbox_input input[type="submit"]{
        width: 4em;
    }
  }

  @media only screen and (max-width: 1024px) and (min-width: 769px)  {


    .chatbox_input input[type="text"]{
        width: 35em;
    }
    
    .chatbox_input input[type="submit"]{
        width: 5em;
    }
  }

  @media only screen and (max-width: 1200px) and (min-width: 1025px)  {


    .chatbox_input input[type="text"]{
        width: 45em;
    }
    
    .chatbox_input input[type="submit"]{
        width: 6em;
    }
  }

.popup1 .content1 {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 110%;
    height: 30%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 10px;
}

.popup1 .content1 p{
    top: 10px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    text-align: center;
}

.requests{
    position: relative;
    height: calc(100% - 10px);

}

.requests .block{
    position: relative;
    top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(0, 0,0,0.06);
   
}

.requests .block.active{
    background: #ebebeb;
}

.listHead .accept{
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    color: #111;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.5s;
    margin-right: 25px;
    letter-spacing: 2px;
  }
  .listHead .accept:hover{
    background: #39ff14;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #39ff14, 0 0 25px #39ff14;
    
}

.listHead .decline{
    position: relative;
    display: inline-block;
    padding: 10px 5px;
    color: #111;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.5s;
    margin-right: 25px;
    letter-spacing: 2px;
  }
  .listHead .decline:hover{
    background: #ff0000;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0000, 0 0 25px #ff0000;
    
}


.popup1 .close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: #222;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.popup1.active .content1{
    transition:all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);

}

.popup2 .content2 {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 100%;
    height: 30%;
    z-index: 3;
    box-sizing: border-box;
    border-radius: 10px;
}

.popup2 .content2 p{
    top: 10px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    text-align: center;
}

.popup2 .content2 .nametype{
    position: relative;
    top: 25px;
    text-align: center;
}

.nametype input[type="text"]{
    width: 80%;
    outline: none;
    height: 3.0em;
    border: none;
    outline: none;
    padding: 0  25px;
    border-radius: 25px;
    background: #dcdcdc;
}

.addfriend{
    position: relative;
    top: 70px;
    text-align: center;
    
}

.addfriend input{
    width: 5em;
    height: 3.0em;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    color: #111;
}

.addfriend input:hover{
    background: #39ff14;
    color: white;
    border-radius: 30px;
    box-shadow: 0 0 5px #39ff14, 0 0 25px #39ff14;
}

.popup2 .close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: #222;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.popup2.active .content2{
    transition:all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);

}

.popup3 .content3{
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 100%;
    height: 60%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 10px;
    overflow:hidden; 
    overflow-y:scroll;
}

.popup3 .content3 p{
    top: 10px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    text-align: center;
}

.popup3 .close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: #222;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.popup3.active .content3{
    transition:all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);

}

.popup4 .content4 {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 85%;
    height: 50%;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 10px;
}

.popup4 .close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: #222;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.popup4.active .content4{
    transition:all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);

}

.themes{
    position: relative;
    width: 95%;
    margin: 0em auto 0;
    padding: 0em;
    box-sizing: border-box;
}

.themes li{
    display: flex;
    background: rgba(116, 114, 114, 0.23);
    padding: 0.6250em 0.9375em;
    color: #fff;
    margin: 3px 0;
    transition: .5s;
    border-radius: 10px;
}

.themes li:hover{
    transform: scale(1.04);
    background: #e3dede;
}

.themes li a{
    position: relative;
    text-decoration: none;
    color: #262626;
}

.timage{
   position: absolute;
    display: flex;
    width: 2.813em;
    height: 30px;
    overflow: hidden;
    border-radius: 5%;
    left: 83%;
    
}

.chatbox{
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: hidden;
    overflow-y: auto;
    
}

.chatbox::-webkit-scrollbar { 
    display: none; 
}
.messages{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
    
}

.messages p{
    position: relative;
    right: 0;
    left: 20px;
    text-align: left;
    max-width: 75%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 15px;
}

.messages img{
    position: relative;
    left: 0px;
    width: 45px;
    height: 47px;
    overflow: hidden;
    border-radius: 50%;
}

.content4 h3{
    position: relative;
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
    left: 27%;
    top: 50px;
}

.content4 input[type="image"]{
    position: relative;
    top: 1.00em;
    left: 40%;
    width: 3.75em;
    height: 3.75em;
    overflow: hidden;
    border-radius: 50%;
}

.content4 input[type="text"]{
    position: relative;
    top: 60px;
    align-items: center;
    left: 10%;
    width: 80%;
    outline: none;
    height: 3.0em;
    border: none;
    outline: none;
    padding: 0  25px;
    border-radius: 25px;
    background: #dcdcdc;
}

.content4 .changename{
    position: absolute;
    top: 15.50em;
    left: 7.20em;
    display: inline-block;
    padding: 10px 5px;
    color: #111;
    background: transparent;
    border: none;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.5s;
    margin-right: 25px;
    letter-spacing: 2px;
    cursor: pointer;
  }

  .content4 .changename:hover{
    background: #39ff14;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #39ff14, 0 0 25px #39ff14;
  }

  .content4 .logout{
    position: relative;
    top: 12.50em;
    left: 7.50em;
    display: inline-block;
    padding: 10px 5px;
    color: #111;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 0.5s;
    margin-right: 25px;
    letter-spacing: 2px;
  }

  .content4 .logout:hover{
    background: #ff0000;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0000, 0 0 25px #ff0000;
  }

  .hidden{
    position: absolute;
    top: 5em;
    left: 4.375em;
  }